.Slideshow{
    width: 50%;
    text-align: center;
}

.Slideshow .dark{
    background-color: rgb(54, 54, 54);
    color: white;
}

.Slideshow a, .Slideshow a:hover, .Slideshow a:visited{
    color:white;
}

.Slideshow .Movielink{
    padding-top: 20px;
}


.Slideshow .noPad{
    padding-right: 0 !important;
}

.Slideshow .poster{
    height: 300px;
}

.Slideshow p{
    padding: 70px 15px 0 15px;
}

.Slideshow h3{
    padding-top: 20px;
}

.Slideshow {
    margin: 50px auto;
}