.logo {
    padding-bottom: 2rem !important;
    padding-top: 5rem !important;
}

.checked {
    color: orange;
}

.movieCardDescription {
    font-size: 0.7rem;
    height: 100px;
}

.movieCardTitle {
    font-size: 1rem !important;
    margin-bottom: 0rem!important;
}

.btn-primary {
    margin-bottom: 0rem!important;
    margin-top: 0rem!important;
    font-size: 0.7rem !important;
    border: none !important;
    background-color: #b60017 !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
}

.registrationButton {
    margin-bottom: 4rem!important;
    margin-top: 0rem!important;
    font-size: 1rem !important;
    border: none !important;
    color: white !important;
    background-color: #b60017 !important;
    align-items: center !important;
    justify-content: center !important;
}

.movieCardBox {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000)!important;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 0rem!important;
    margin-top: 0rem!important;
}

.grid-container>* {
    margin: 20px;
}

.registerLink {
    font-size: 0.9rem;
    color: gray !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
}